﻿@model EmployeeManagement.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOfficial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailOfficial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPersonal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailPersonal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhonePrimary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhonePrimary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneSecondary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneSecondary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmploymentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResignationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResignationDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Notification.js"></script>